extends layout

block content
	form(action='/#{username}/unzip',method='post',enctype = "multipart/form-data")
		div.container
			div.row
				div.col-sm-6.col-md-18.col-md-offset-4
					#user
						h1.text-center.login-title Grading for #{username} 
						h3(style="color: #FF0000") #{error}
						
			div.row
				div.col-sm-6.col-md-18.col-md-offset-4
					input(type='file', id='zipfile', name='zipfile')
					br
					input(type='submit',value='Unzip')
					if src != undefined
						img(src='data:./unzipped/uml.png;base64,#{src}')

	form(action='/#{username}/saveGrades',method='post')
		div.container
			div.row
				div.col-sm-6.col-md-18.col-md-offset-4
				table
					thead
						tr: th GRADE
					tbody
						if fields == undefined
							fields = ['Scale', 'Points', 'Completion', 'Comments']
						each v, i in fields
							tr
								if fields[i].FIELD_ENABLE == 1
									td= fields[i].FIELD_NAME							
									td: input(type="text", id=fields[i].FIELD_NAME, name=fields[i].FIELD_NAME)
				input(type='submit',value='SAVE GRADES')