extends layout

block content
	form(action='/saveGradingAttributes',method='post')
		div.container
			div.row
				div.col-sm-6.col-md-18.col-md-offset-4
					#user
						h1.text-center.login-title Welcome #{user.username} 
								
							a(href='/signout', class='text-center new-account') Sign Out
			table
				thead
					tr: th CUSTOMIZE GRADING
				tbody
					if fields == ''
						each v, i in ['scale', 'points', 'completion', 'comments']
							tr
								td= v							
								td: input(type="checkbox", id=v, name=v)			
					else 
						each v, i in fields
							tr
								if fields[i].FIELD_ENABLE == 1
									td= fields[i].FIELD_NAME							
									td: input(type="checkbox", id=fields[i].FIELD_NAME, name=fields[i].FIELD_NAME, checked)
								else
									td= fields[i].FIELD_NAME							
									td: input(type="checkbox", id=fields[i].FIELD_NAME, name=fields[i].FIELD_NAME)							
			div.row
				div.col-sm-6.col-md-25.col-md-offset-4
					h2.text-center.login-title
						input(type='submit',value='SAVE GRADING STRATEGY')
			div.row
				div.col-sm-6.col-md-25.col-md-offset-4
					h1.text-center.login-title
						a(href=gradeLink, class='text-center new-account', target="_blank") GRADE NOW!